body {
  background-color: gededed;
}

.header-ch {
  background-color: #b3b3b3;
}

.footer-ch {
  background-color: #c9c9c9;
  justify-content: space-between;
}

.jumbotron {
  background-color: #f2f0f0;
}

.col-ch {
  margin-left: 30px;
}
